/tmp/
/document.pdf
/document.synctex.gz
/amsbsy.sty
/amsmath.sty
/amsopn.sty
/amstext.sty
/document.aux
/document.log
/document.tex
/empheq.sty
/environ.sty
/mathptmx.sty
/mathtools.sty
/mhsetup.sty
/newtxmath.sty
/pict2e.sty
/steinmetz.sty
/memorial_tcc_ken.log
/memorial_tcc_ken.nlo
/memorial_tcc_ken.log
/memorial_tcc_ken.pdf
/memorial_tcc_ken.synctex.gz
